<h1>Employee List </h1>
<button class ="btn btn-primary"  (click) ="AddEmployee()">Add</button>
<hr>
<input type="text" #searchBox id="search-box" (keyup)="search(searchBox.value)" />
<!-- <input type="text" [(ngModel)] ="seachString" /> -->
<hr>
<b>Seach For:  </b>

<label>{{seachString}}</label>
<table class ="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Age</td>
            <td>Status</td>
            <td>Created At</td>
        </tr>
    </thead>
    <tbody>
            <tr *ngFor ="let emp of employees" >
                    <td>{{emp.name}}</td>
                    <td>{{emp.age}}</td>
                    <td>{{emp.status}}</td>
                    <td>{{emp.createdAt | date:'dd/MM/yyyy hh:mm:ss' }}</td>
                    <td>
                        <a [routerLink]="['/employee-detail',emp.id]">Show detail</a>
                        <!-- <a [routerLink]="['/employee-edit',emp.id]">Edit</a> -->
                        <button (click) ="EditEmployee(emp.id)" class ="btn btn-primary" >Edit</button>
                        <button (click) ="DeleteEmployee(emp.id)" class ="btn btn-danger" >Delete</button>
                    </td>
                </tr>
    </tbody>
</table>
<nav aria-label="Page navigation">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li *ngFor ="let page of pages" ><a [routerLink] ="['/employees']" [queryParams] ="{numberPage:page}">{{page}}</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>